/**
 * Map After Fields (Event / Location)
 */

/* Container for description and Google Map */

#ctc-map-after-fields-container {
	display: none; /* shown only when have data */
}

/* Google Map element */

#ctc-map-after-fields {
	width: 100%; /* responsive */
	height: 350px;
	max-width: 980px; /* not awkward on wide screen */
	max-height: 65vh; /* not more than 2/3 of mobile screen */
}


/* Description below map */

#ctc-map-after-fields-description {
	margin-top: 7px;
}
