/**
 * Map After Fields (Event / Location)
 */

#ctc-map-after-fields {
	width: 100%; /* responsive */
	height: 400px;
	max-width: 980px; /* not awkward on wide screen */
	max-height: 65vh; /* not more than 2/3 of mobile screen */
}
